div#overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(128, 127, 127, 0.13);
    display: none;
}
html, body {
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th,td {
    padding: 3px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
div#2faboxes {
    display: block;
}

div#twofaboxes input.twofabox {
display: inline-block;
    width: 60px;
    font-size: 1.5em;
    height: 60px;
    padding-right: 10px;
}

div#unlockuser, div#deleteuser, #div#lockuser, div#reset2fa, div#resetpassword, div#deleteusergroup {
    width: 300px;
    height: 200px;
}
div#adduser, div#edituser, div#addusergroup, div#editusergroup {
    width: 600px;
    height: 400px;
}
span.errorinline {
    text-align: center;
    color: red;
    display: block;
    padding-top: 15px;
}
span.successmessage {
    text-align: center;
    color: forestgreen;
    display: block;
    padding-top: 15px;
}

div.error-container {
    background-color: #fff;
    display: block;
    padding: 1rem;
    width: 350px;
    height: 200px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    z-index: 1100;
}
div.message-container {
    background-color: #fff;
    display: block;
    padding: 1rem;
    width: 350px;
    height: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    z-index: 1000;
}

p.message-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.minibutton {
    display: inline-block;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

div.buttons-container {
    text-align: center;
}
.reset-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.reset-link a {
    text-decoration: underline;
}
table input[type=text], table input[type=password] {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    height: 30px;
    width: 100%;
}

.error {
    border: 1px solid red !important;
}

.disabled {
    background-color: lightgrey !important;
}
div#bodycontainer {
    margin-left: 10px;
    margin-right: 10px;
}
label {
    padding-left: 5px;
}

@media (max-width: 991px) {
    div#bodycontainer {
        margin-left: 0;
        margin-right: 0;
    }
}