@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", serif;
    font-weight: 500;
}
#header .bg {
    background: #f4f4f4;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}
#header .bg .header_topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
#header .bg:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #a6a182;
    left: 50%;
    -webkit-clip-path: polygon(2% 0%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(2% 0%, 100% 0%, 100% 100%, 0 100%);
    z-index: 1;
}
#header .bg .header_topbar .right_content {
    display: flex;
    align-items: center;
    color: #fff;
}
#header .bg .header_topbar .right_content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 30px;
}
#header .bg .header_topbar .right_content ul li {
    margin-left: 20px;
}
#header .header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
#header .header_main .header-left {
    display: flex;
    align-items: center;
    gap: 90px;
}
#header .logo img {
    width: 120px;
}
#header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
#header nav > ul > li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin-inline-end: 30px;
    padding: 30px 0;
}
#header nav > ul > li > .submenu li a {
    position: relative;
    z-index: 11;
    font-size: 16px;
    color: #000;
    padding: 0 25px;
    padding-bottom: 11px;
    padding-top: 11px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    display: block;
}
#header .header-right .cart-icon {
    position: relative;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #f8f8f8;
    display: inline-block;
    border-radius: 50%;
    color: #000;
    margin-right: 20px;
}
#header .search-icon {
    color: #000;
    display: inline-block;
}
#header .header__hamburger {
    display: inline-block;
    margin-left: 15px;
}
#header .header__hamburger i {
    padding: 3px 10px;
    border: 1px solid #ccc;
    font-size: 20px;
}
#header nav .close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    padding-top: 12px;
    cursor: pointer;
}
#header nav .sidebar_top {
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
#banner {
    background-color: #000;
    padding: 170px 0;
    text-align: center;
}
#banner span {
    color: #a6a182;
}
#banner h1 {
    font-weight: 600;
    margin-top: 10px;
    color: #fff
}
@media (min-width: 991px) {
    #header nav > ul > li > .submenu {
        position: absolute;
        top: 100%;
        inset-inline-start: 0;
        min-width: 240px;
        background: #fff;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        transform-origin: top center;
        color: #000;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        transform: translateY(10px);
        transition: all 0.4s ease-in-out;
    }
    #header nav > ul > li:hover > .submenu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width: 991px) {
    #header nav {
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        height: 100vh;
        max-width: 100%;
        min-width: 350px;
        z-index: 1;
        opacity: 0;
        transition: all 0.4s;
        padding-top: 20px;
        transform: translateX(calc(100% + 80px));
        overflow-y: auto;
    }
    #header nav.active {
        min-width: 350px;
        transform: translateX(0);
        opacity: 1;
    }
    #header nav > ul > li {
        display: block;
        margin-inline-end: 30px;
        padding: 0;
        border-bottom: 1px solid #d8d8d8;
        margin: 0;
    }
    #header nav > ul > li a {
        padding: 20px 30px;
        display: block;
        position: relative;
    }
    #header nav > ul > li a i {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    .active ~ .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    #header nav ul.submenu {
        display: none;
    }
    #header nav > ul > li > .submenu li a {
        border-top: 1px solid #eeeeee;
        border-bottom: 0;
        padding-left: 50px;
    }
    #header .bg {
        display: none;
    }
    #header .header_main {
        padding: 20px 0;
    }
}